# Default values for Maven projects.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
image:
  repository: docker-registry.default.svc:5000/entando/entando-k8s-controller-coordinator
  tag: 6.0.14
  pullPolicy: IfNotPresent

# enable this flag to use knative serve to deploy the app
knativeDeploy: false
operator:
  registry: docker-registry.default.svc:5000
  namespaceOverride:
  defaultRoutingSuffix: apps.serv.run
  podReadinessTimeoutSeconds: 900
  podCompletionTimeoutSeconds: 900
  disableKeycloakSslRequirement: true
  imageNamespace: entando
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 400m
    memory: 512Mi
livenessProbe:
  initialDelaySeconds: 60
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1
readinessProbe:
  failureThreshold: 1
  periodSeconds: 10
  successThreshold: 1
  timeoutSeconds: 1
